body,html{margin:0;padding:0;}

html{
	
	background:#efefef;
	font-family: 'Courier New', Courier, monospace;
}

#loginform{
	margin: 20px auto;
	width: 300px;
	border: 1px solid #cacaca;
	padding:10px;
	border-radius: 10px;
	background-color: #ccc;
}

#loginform label{
	display:inline-block;
	width: 90px;
	padding-top:30px;
}
#errorbox{
	width:95%;
	margin:5px auto;
	padding:10px;
	border:2px solid #990000;
	border-radius:5px;
	text-align:center;
	
}
.button{
	display: inline-block;
	padding:10px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	cursor: pointer;
}
.button:active{
	border: 1px solid #666;
	filter:blur(1px)
}

.btngrey{
	background-color: #777;
	color: #efefef;
}
input{
	border: 1px solid #ccc;
	border-radius: 1000px;
	padding:5px;
}
